{% load i18n %}

{{ wizard.management_form }}

<div class="card">
    <div class="card-header">Enter your credentials:</div>
    <div class="card-body">
    <div class="mb-3 row">
        <label for="{{ wizard.form.username.id_for_label }}" class="col-sm-2 col-form-label">
            {{ wizard.form.username.label }}
        </label>
        <div class="col-sm-10">
          <input type="text"
                 class="form-control"
                 id="{{ wizard.form.username.id_for_label }}"
                 name="{{ wizard.form.username.html_name }}"
                 value="">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="{{ wizard.form.password.id_for_label }}" class="col-sm-2 col-form-label">
            {{ wizard.form.password.label }}
        </label>
        <div class="col-sm-10">
          <input type="password" class="form-control"
                 id="{{ wizard.form.password.id_for_label }}"
                name="{{ wizard.form.password.html_name }}">
        </div>
    </div>
    <div class="float-right">
        <button type="submit" class="btn btn-primary">{% trans "Log In" %}</button>
    </div>
 </div>
</div>